//paleta de colores
$color1: white;
$color2: black;

//fuentes
$font1: 'Oswald',
sans-serif;

//mixin
@mixin titulo-formularios {
    font-family: $font1;
    font-size: 40px;
    color: $color1;
    text-shadow: 1px 2px 2px $color2;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline 3px;
}

.preguntah {
    @include titulo-formularios;
}


.accesos {
    font-size: 15px;
    text-align: center;
}
