//paleta de colores
$color1: rgb(228, 86, 86);
$color2: rgb(168, 98, 98);
$color3: rgb(100, 76, 76);
$color4: yellow;
$color5: #999;
$color6: black;
$color7: white;

//fuentes
$font1: 'Oswald', sans-serif;

//mixin
@mixin border-radius{
    border-radius: 6px;
    color: $color5;
    background-color: $color7;
    padding: 10px;
}

form {
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    @include border-radius;
}

input,
textarea {
    border: 0;
    outline: none;
    width: 280px;
}

.field {
    border: solid 1px #ccc;
    padding: 5px;
}

.field:focus {
    border-color: $color1;
}

.center-content {
    text-align: center;
}

.btn {
    border-radius: 6px;
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    box-shadow: 0 1px 1px black;
}

.btn-green {
    color: rgb(0, 0, 0);
    background-color: $color1;
}

.btn-green:hover {
    background-color: $color2;
}

.btn-green:active {
    background-color: $color3;
}

.formularioInicio {
        font-family: $font1;
        font-size: 40px;
        color: $color7;
        text-shadow: 1px 2px 2px $color6;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline 3px;
    
    
}
