$color1: #FBAB7E;
$color2: orange;
$color3: white;
$color4: #999;


.image {
    background-color: $color1;
    background-image: url(../img/cafe-taza.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.titulo {
    background-color: $color9;
    color: $color3;
    padding: 20px;
}

.titulo p {
    font-size: 15px;
    text-align: center;
}

.titulo h3 {
    text-align: center;
    text-decoration: underline 3px;
    text-transform: uppercase;
    color: $color2;
}

.titulo a {
    font-size: 15px;
    color: $color1;
    background-color: $color3;
    padding: 10px 20px;
    text-decoration: none;
}

.img2 {
    background-image: url(../img/taza-pochoclo.jpg);
}

.img3 {
    background-image: url(../img/cafe-canela.jpg);
}

#nuestroProductos:hover{
    background-color: $color4;
    border: $color1 solid 1px;
}