//paleta de colores
$color1: rgb(228, 86, 86);
$color2: #FBAB7E;
$color3: rgb(117, 63, 63);
$color4: rgb(255, 255, 255);
$color5: #F7CE68;
$color6: #999;
$color7: yellow;
$color8: black;
$color9: rgb(59, 59, 59);

//fuentes
$font1: 'Urbanist', sans-serif;
$font2: 'Oswald', sans-serif;
$font3: 'Righteous', cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
    padding: 5px;
    margin: 15px;
}

span {
    color: $color7;
}

.navbar {
    background-color: $color1;
    text-decoration: none;
    color: $color4;
}

main {
    height: 100%;
    width: 100%;
    background-color: $color2;
    background-color: $color2;
    background-image: linear-gradient(0deg, $color2 0%, $color5 100%);
}

.main1 {
    height: 80vh;
    width: 100%;
    background-color: $color2;
    background-color: $color2;
    background-image: linear-gradient(0deg, $color2 0%, $color5 100%);
}



.jumbotron {
    color: $color4;
    text-align: center;
    height: 400px;
    background-color: $color3;
    background-image: url(../img/jumbotron.jpg);
    background-position: center;
    background-position-y: 13%;
    background-size: cover;
    margin-bottom: 0;
    border-top: 2px solid $color8;
    border-radius: 0;
}

.hJumbotron {
    font-family: $font1;
    color: $color4;
    text-decoration: underline 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $color8;
}

.jumbotron p {
    text-align: center;
    font-size: 30px;
    font-family: $font1;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px $color8;
}


.titulo {
    color: $color4;
    padding: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    background-color: $color1;
    border-bottom: 2px solid $color8;
}

.novedades {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline 3px;
    color: $color4;
    text-shadow: 2px 2px 3px $color8;
    padding: 20px;
    margin: 0 auto;
}

.ubicacion{
    font-size: 20px;
}

.imagen1 {
    padding: 250px;
    background-image: url(../img/cafe-molido.jpg);
    background-position: center;
    background-size: cover;
}

.image {
    background-color: #FBAB7E;
    background-image: url(../img/cafe-taza.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.titulo {
    background-color: $color9;
    color: white;
    padding: 20px;
}

.titulo p {
    font-size: 15px;
    text-align: center;
}

.titulo h3 {
    text-align: center;
    text-decoration: underline 3px;
    text-transform: uppercase;
    color: orange;
}

.titulo a {
    font-size: 15px;
    color: #FBAB7E;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.img2 {
    background-image: url(../img/taza-pochoclo.jpg);
}

.img3 {
    background-image: url(../img/cafe-canela.jpg);
}


.card-deck {
    margin: auto;
    padding: 10px;
}

.card {
    border: 1px solid gray;
}

.card-img-top {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: all 300ms;

}

.card-img-top:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.card-title {
    text-align: center;
    color: #FBAB7E;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    border-bottom: solid 2px;
    border-bottom-color: rgb(209, 154, 52);

}

.card-text {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;

}

::selection{
    background-color: $color1;
    color: $color6;
}



@media only screen and (min-width: 480px) and (max-width: 575px) {
    .jumbotron h1{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
    }

    .jumbotron p{
        font-size: 20px;
        color: white;
    }

    .titulo {
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1003px) {
    .card-deck {
        display: block;
        margin: 0px;
    }

    .titulo {
        text-transform: capitalize padding 2px;
        margin: 0px;
        text-align: center;
    }

    .imagen1 {
        margin: 0px;
    }

    .jumbotron h1 {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .jumbotron p {
        font-size: 20px;
    }

    .img1 {
        height: auto;
    }
}

@import "__formularios.scss";
@import "__footer.scss";
@import "__contacto.scss";